

.recording {
    color: #f00;
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.loading-elipsis:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: text-top;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0px;
}
  
@keyframes ellipsis {
    to {
      width: 40px;
    }
  }
  
@-webkit-keyframes ellipsis {
    to {
      width: 40px;
    }
  }

.tbodyDiv{
    max-height: clamp(5em,100vh,400px);
    overflow: auto;
}